* {
  box-sizing: border-box;
  margin: 0;
}

header {
  position: relative;
  background-image: url("../Imagenes/portada.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 790px;
}

.imgportada {
  width: 100%;
  height: 928px;
  z-index: 1;
  margin-top: -800px;
}

.linea {
  width: 3px;
  height: 50px;
  background-color: rgb(255, 255, 255);
  margin-left: 159px;
  margin-top: -50px;
}

.menu {
  position: relative;
  display: flex;
  z-index: 3;
  width: 20px;
  height: 20px;
  margin-left: 1270px;
  margin-top: -107px;
}

.menu-imagen {
  width: 100%;
}

.preguntasfrecuentes {
  position: relative;
  display: flex;
  z-index: 3;
  width: 25px;
  height: 30px;
  margin-left: 1320px;
  margin-top: -25px;
}

.preguntas-imagen {
  width: 100%;
}

ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  z-index: 2;
  color: white;
  margin-left: 800px;
  position: relative;
  top: -90px;
  font-size: 17px;
  cursor: pointer;
}
ul :hover {
  color: rgb(163, 163, 163);
  transition: 0.3s ease-in-out;
}

li {
  margin-right: 15px;
  z-index: 2;

  font-family: "Gabarito", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: bold;
}

.logobit {
  font-size: 50px;
  display: flex;
  margin-left: 70px;
  padding-top: 28px;
  position: relative;
  z-index: 2;
  color: white;

  font-family: "Gabarito", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: bold;
}

.sublogobit {
  margin-left: 178px;
  top: -60px;
  position: relative;
  color: white;
  display: flex;

  font-family: "Gabarito", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

.tituloprincipal {
  font-size: 60px;
  color: white;
  margin-top: 140px;
  margin-left: 500px;

  font-family: "Gabarito", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: bold;
}

.titulosegundario {
  font-size: 60px;
  color: rgba(255, 255, 255, 0.591);
  margin-top: 4px;
  font-style: 10px;
  line-height: 55px;
  text-align: center;

  font-family: "Gabarito", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: bold;
}

.botonhablemos {
  position: relative;
  display: flex;
  align-items: center;
  background-color: rgb(247, 255, 10);
  color: rgb(14, 14, 120);
  height: 40px;
  margin-left: 680px;
  margin-top: 30px;
}

.subtitulo {
  font-size: 30px;
  color: rgb(255, 255, 255);
  margin-top: 30px;
  line-height: 35px;
  font-style: 10px;
  text-align: center;

  font-family: "Gabarito", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.estudiantes {
  font-size: 80px;
  color: #003970;
  margin-top: 170px;
  margin-left: 250px;
  line-height: 67px;

  font-family: "Gabarito", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: bold;
}

.subestudiantes {
  font-size: 30px;
  color: #003970;
  margin-top: 10px;
  margin-left: 250px;
  line-height: 30px;

  font-family: "Gabarito", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.botonunete {
  position: relative;
  display: flex;
  background-color: rgb(247, 255, 10);
  color: rgb(14, 14, 120);
  margin-left: 250px;
  margin-top: 30px;
}

.numero1 {
  font-size: 70px;
  color: #d505ff;
  margin-top: -250px;
  margin-left: 930px;
  line-height: 20px;

  font-family: "Gabarito", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: bold;
}

.desnu1 {
  font-size: 25px;
  color: rgba(48, 48, 48, 0.53);
  margin-top: 28px;
  margin-left: 950px;
  line-height: 20px;

  font-family: "Gabarito", serif;
  font-optical-sizing: auto;
  font-weight: 700px;
  font-style: bold;
}

.numero2 {
  font-size: 70px;
  color: #d505ff;
  margin-top: 60px;
  margin-left: 930px;
  line-height: 20px;

  font-family: "Gabarito", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: bold;
}

.desnu2 {
  font-size: 25px;
  color: rgba(48, 48, 48, 0.53);
  margin-top: 30px;
  margin-left: 530px;
  line-height: 20px;
  text-align: center;

  font-family: "Gabarito", serif;
  font-optical-sizing: auto;
  font-weight: 700px;
  font-style: bold;
}

.imgcreativa {
  width: 40px;
  margin-left: 159px;
  margin-top: 200px;
  display: flex;
}

.circulouno {
  width: 80px;
  height: 80px;
  margin-top: -75px;
  margin-left: 140px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.199);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.151);
}

.itemcreatividad {
  font-size: 24px;
  color: #003970;
  margin-top: -50px;
  margin-left: 250px;
  line-height: 20px;

  font-family: "Gabarito", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: bold;
}

.itemtextocrea {
  font-size: 16px;
  color: #003970;
  margin-left: 250px;
  line-height: 20px;

  font-family: "Gabarito", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.imgtecnologia {
  width: 40px;
  margin-top: -60px;
  margin-left: 570px;
  display: flex;
}

.circulodos {
  width: 80px;
  height: 80px;
  margin-top: -80px;
  margin-left: 550px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.199);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.151);
}

.itemtecnologia {
  font-size: 24px;
  color: #003970;
  margin-top: -45px;
  margin-left: 650px;
  line-height: 20px;

  font-family: "Gabarito", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: bold;
}

.itemtextotec {
  font-size: 16px;
  color: #003970;
  margin-top: 0px;
  margin-left: 650px;
  line-height: 20px;

  font-family: "Gabarito", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.imgcrecimiento {
  width: 40px;
  margin-top: -60px;
  margin-left: 990px;
  display: flex;
}

.circulotres {
  width: 80px;
  height: 80px;
  margin-top: -70px;
  margin-left: 970px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.199);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.151);
}

.itemcrecimiento {
  font-size: 24px;
  color: #003970;
  margin-top: -50px;
  margin-left: 1090px;
  line-height: 20px;

  font-family: "Gabarito", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: bold;
}

.itemtextocreci {
  font-size: 16px;
  color: #003970;
  margin-top: 0px;
  margin-left: 1090px;
  line-height: 20px;

  font-family: "Gabarito", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.soluciones {
  font-size: 50px;
  color: #003970;
  margin-top: 170px;
  line-height: 67px;
  text-align: center;

  font-family: "Gabarito", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: bold;
}

.subsoluciones {
  font-size: 30px;
  color: #888888;
  margin-top: 40px;
  margin-left: 0px;
  line-height: 30px;
  text-align: center;

  font-family: "Gabarito", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.cuadrouno {
  width: 400px;
  height: 320px;
  background-color: white;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.199);
  border-radius: 20px;
  margin-top: 90px;
  margin-left: 280px;
}

.asesor {
  width: 60px;
  height: 60px;
  margin-top: 60px;
  margin-left: 160px;
}

.tituloasesor {
  font-size: 40px;
  color: #393b3c;
  margin-top: 22px;
  margin-left: 120px;

  font-family: "Gabarito", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: bold;
}

.subasesor {
  font-size: 20px;
  color: #515253;
  margin-top: 10px;
  margin-left: 80px;

  font-family: "Gabarito", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.empezaruno {
  width: 90px;
  font-style: 40px;
  border-radius: 8px;
  background-color: white;
  border-color: whitesmoke;
  margin-top: 30px;
  margin-left: 140px;
}

.cuadrodos {
  width: 400px;
  height: 320px;
  background-color: white;
  box-shadow: 0 30px 30px rgba(0, 0, 0, 0.199);
  border-radius: 20px;
  margin-top: -320px;
  margin-left: 780px;
}

.desarrollo {
  width: 60px;
  height: 60px;
  margin-top: 60px;
  margin-left: 160px;
}

.titulodesarrollo {
  font-size: 40px;
  color: #393b3c;
  margin-top: 22px;
  margin-left: 70px;

  font-family: "Gabarito", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: bold;
}

.subtexto {
  font-size: 20px;
  color: #515253;
  margin-top: 10px;
  margin-left: 80px;

  font-family: "Gabarito", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.empezardos {
  width: 90px;
  font-style: 40px;
  border-radius: 8px;
  background-color: white;
  border-color: whitesmoke;
  margin-top: 10px;
  margin-left: 160px;
}

.titulonuestros {
  font-size: 50px;
  color: #003970;
  margin-top: 170px;
  line-height: 67px;
  text-align: center;

  font-family: "Gabarito", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: bold;
}

.subtitulonuestros {
  font-size: 30px;
  color: #888888;
  margin-top: 40px;
  margin-left: 0px;
  line-height: 30px;
  text-align: center;

  font-family: "Gabarito", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.uno {
  width: 280px;
  height: 350px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 30px 30px rgba(0, 0, 0, 0.078);
  margin-left: 280px;
  margin-top: 200px;
}
.imguno {
  width: 150px;
  border-radius: 50%;
  margin-left: 68px;
  margin-top: 40px;
}

.compañerouno {
  font-size: 20px;
  color: #393b3c;
  margin-left: 60px;
  margin-top: 26px;

  font-family: "Gabarito", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.Linkperfiluno {
  font-size: 18px;
  color: #393b3c;
  margin-left: 110px;
  margin-top: 40px;

  font-family: "Gabarito", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.desarrollouno {
  font-size: 20px;
  color: #393b3cb5;
  margin-left: 100px;
  margin-top: 10px;

  font-family: "Gabarito", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.dos {
  width: 280px;
  height: 350px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 30px 30px rgba(0, 0, 0, 0.078);
  margin-left: 630px;
  margin-top: -350px;
}

.imgdos {
  width: 150px;
  border-radius: 50%;
  margin-left: 68px;
  margin-top: 40px;
}

.compañerodos {
  font-size: 20px;
  color: #393b3c;
  margin-left: 60px;
  margin-top: 26px;

  font-family: "Gabarito", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.Linkperfildos {
  font-size: 18px;
  color: #393b3c;
  margin-left: 110px;
  margin-top: 40px;

  font-family: "Gabarito", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.desarrollodos {
  font-size: 20px;
  color: #393b3cb5;
  margin-left: 100px;
  margin-top: 10px;

  font-family: "Gabarito", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.tres {
  width: 280px;
  height: 350px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 30px 30px rgba(0, 0, 0, 0.078);
  margin-left: 980px;
  margin-top: -350px;
}

.imgtres {
  width: 150px;
  border-radius: 50%;
  margin-left: 68px;
  margin-top: 40px;
}

.compañerotres {
  font-size: 20px;
  color: #393b3c;
  margin-left: 83px;
  margin-top: 26px;

  font-family: "Gabarito", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.Linkperfiltres {
  font-size: 18px;
  color: #393b3c;
  margin-left: 110px;
  margin-top: 40px;

  font-family: "Gabarito", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.desarrollotres {
  font-size: 20px;
  color: #393b3cb5;
  margin-left: 100px;
  margin-top: 10px;

  font-family: "Gabarito", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.cuatro {
  width: 280px;
  height: 350px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 30px 30px rgba(0, 0, 0, 0.078);
  margin-left: 280px;
  margin-top: 100px;
}

.imgcuatro {
  width: 150px;
  border-radius: 50%;
  margin-left: 68px;
  margin-top: 40px;
}

.compañerocuatro {
  font-size: 20px;
  color: #393b3c;
  margin-left: 60px;
  margin-top: 26px;

  font-family: "Gabarito", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.Linkperfilcuatro {
  font-size: 18px;
  color: #393b3c;
  margin-left: 110px;
  margin-top: 40px;

  font-family: "Gabarito", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.desarrollocuatro {
  font-size: 20px;
  color: #393b3c;
  margin-left: 100px;
  margin-top: 10px;

  font-family: "Gabarito", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.sinco {
  width: 280px;
  height: 350px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 30px 30px rgba(0, 0, 0, 0.078);
  margin-left: 630px;
  margin-top: -350px;
}

.imgsinco {
  width: 150px;
  border-radius: 50%;
  margin-left: 68px;
  margin-top: 40px;
}

.compañerosinco {
  font-size: 20px;
  color: #393b3c;
  margin-left: 80px;
  margin-top: 26px;

  font-family: "Gabarito", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.Linkperfilsinco {
  font-size: 18px;
  color: #393b3c;
  margin-left: 110px;
  margin-top: 40px;

  font-family: "Gabarito", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.desarrollosinco {
  font-size: 20px;
  color: #393b3c;
  margin-left: 100px;
  margin-top: 10px;

  font-family: "Gabarito", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.seis {
  width: 280px;
  height: 350px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 30px 30px rgba(0, 0, 0, 0.078);
  margin-left: 980px;
  margin-top: -350px;
}

.imgseis {
  width: 150px;
  border-radius: 50%;
  margin-left: 68px;
  margin-top: 40px;
}

.compañeroseis {
  font-size: 20px;
  color: #393b3c;
  margin-left: 70px;
  margin-top: 26px;

  font-family: "Gabarito", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.Linkperfilseis {
  font-size: 18px;
  color: #393b3c;
  margin-left: 110px;
  margin-top: 40px;

  font-family: "Gabarito", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.desarrolloseis {
  font-size: 20px;
  color: #393b3c;
  margin-left: 100px;
  margin-top: 10px;

  font-family: "Gabarito", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.siete {
  width: 280px;
  height: 350px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 30px 30px rgba(0, 0, 0, 0.078);
  margin-left: 280px;
  margin-top: 100px;
}

.imgsiete {
  width: 150px;
  border-radius: 50%;
  margin-left: 68px;
  margin-top: 40px;
}

.compañerosiete {
  font-size: 20px;
  color: #393b3c;
  margin-left: 70px;
  margin-top: 26px;

  font-family: "Gabarito", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.Linkperfilsiete {
  font-size: 18px;
  color: #393b3c;
  margin-left: 110px;
  margin-top: 40px;

  font-family: "Gabarito", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.desarrollosiete {
  font-size: 20px;
  color: #393b3c;
  margin-left: 100px;
  margin-top: 10px;

  font-family: "Gabarito", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.ocho {
  width: 280px;
  height: 350px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 30px 30px rgba(0, 0, 0, 0.078);
  margin-left: 630px;
  margin-top: -350px;
}

.imgocho {
  width: 150px;
  border-radius: 50%;
  margin-left: 68px;
  margin-top: 40px;
}

.compañeroocho {
  font-size: 20px;
  color: #393b3c;
  margin-left: 80px;
  margin-top: 26px;

  font-family: "Gabarito", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.Linkperfilocho {
  font-size: 18px;
  color: #393b3c;
  margin-left: 110px;
  margin-top: 40px;

  font-family: "Gabarito", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.desarrolloocho {
  font-size: 20px;
  color: #393b3c;
  margin-left: 100px;
  margin-top: 10px;

  font-family: "Gabarito", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.nueve {
  width: 280px;
  height: 350px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 30px 30px rgba(0, 0, 0, 0.078);
  margin-left: 980px;
  margin-top: -350px;
}

.imgnueve {
  width: 150px;
  border-radius: 50%;
  margin-left: 68px;
  margin-top: 40px;
}

.compañeronueve {
  font-size: 20px;
  color: #393b3c;
  margin-left: 90px;
  margin-top: 26px;

  font-family: "Gabarito", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.Linkperfilnueve {
  font-size: 18px;
  color: #393b3c;
  margin-left: 110px;
  margin-top: 40px;

  font-family: "Gabarito", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.desarrollonueve {
  font-size: 20px;
  color: #393b3c;
  margin-left: 100px;
  margin-top: 10px;

  font-family: "Gabarito", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.diez {
  width: 280px;
  height: 350px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 30px 30px rgba(0, 0, 0, 0.078);
  margin-left: 280px;
  margin-top: 100px;
}

.imgdiez {
  width: 150px;
  border-radius: 50%;
  margin-left: 68px;
  margin-top: 40px;
}

.compañerodiez {
  font-size: 20px;
  color: #393b3c;
  margin-left: 70px;
  margin-top: 26px;

  font-family: "Gabarito", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.Linkperfildiez {
  font-size: 18px;
  color: #393b3c;
  margin-left: 110px;
  margin-top: 40px;

  font-family: "Gabarito", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.desarrollodiez {
  font-size: 20px;
  color: #393b3c;
  margin-left: 100px;
  margin-top: 10px;

  font-family: "Gabarito", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.once {
  width: 280px;
  height: 350px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 30px 30px rgba(0, 0, 0, 0.078);
  margin-left: 630px;
  margin-top: -350px;
}

.imgonce {
  width: 150px;
  border-radius: 50%;
  margin-left: 68px;
  margin-top: 40px;
}

.compañeroonce {
  font-size: 20px;
  color: #393b3c;
  margin-left: 80px;
  margin-top: 26px;

  font-family: "Gabarito", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.Linkperfilonce {
  font-size: 18px;
  color: #393b3c;
  margin-left: 110px;
  margin-top: 40px;

  font-family: "Gabarito", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.desarrolloonce {
  font-size: 20px;
  color: #393b3c;
  margin-left: 100px;
  margin-top: 10px;

  font-family: "Gabarito", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.doce {
  width: 280px;
  height: 350px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 30px 30px rgba(0, 0, 0, 0.078);
  margin-left: 980px;
  margin-top: -350px;
}

.imgdoce {
  width: 150px;
  border-radius: 50%;
  margin-left: 68px;
  margin-top: 40px;
}

.compañerodoce {
  font-size: 20px;
  color: #393b3c;
  margin-left: 49px;
  margin-top: 26px;

  font-family: "Gabarito", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.Linkperfildoce {
  font-size: 18px;
  color: #393b3c;
  margin-left: 110px;
  margin-top: 40px;

  font-family: "Gabarito", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.desarrollodoce {
  font-size: 20px;
  color: #393b3c;
  margin-left: 80px;
  margin-top: 10px;

  font-family: "Gabarito", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.foter {
  width: 100%;
  height: 190px;
  background-color: #003970;
  margin-top: 120px;
}

.por {
  padding-top: 20px;
  font-size: 15px;
  color: #c7c9ca;
  line-height: 1.3;
  text-align: center;
  font-family: "Gabarito", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
